.box {
    height: 200px;
    width: 100%;
    background-color: powderblue;
    margin: 5px;
    padding: 5px;
}

.error {
    color: red;
}

.success {
    color: green;
}

.card{
    width: 100%;
    margin: 1px solid red;
}

.min-vh-100 {
    min-height: 100vh;
}