<!DOCTYPE html>
<html>
<head>
    <title>Bancos</title>
</head>
<body>
    <h1>Cuadre de Bancos</h1>
    <form method="POST" action="/upload" enctype="multipart/form-data">
            <input type="file" name="file" id="file1" accept=".xlsx" required>
            <div>
                <label for="file2">Providers:</label>
                <input type="file" name="file" id="file2" accept=".xlsx">
            </div>
            <div>
                <label for="file3">Interbanks:</label>
                <input type="file" name="file" id="file3"  accept=".xlsx">
            </div>
            <div>
                <label for="file4">Transfers:</label>
                <input type="file" name="file" id="file4" accept=".xlsx" >
            </div>
            <input type="submit" value="Subir">
    </form>
</body>
</html>